<div class="input">
    <button  mat-icon-button (click)="searchCheck(rech.value)"><mat-icon >search</mat-icon></button>
    <input type="text" placeholder="Search  For Events" #rech>
    <button color="warn" *ngIf="!bool" (click)="back()" mat-flat-button>Cancel</button>
</div>

    <div class="div" *ngIf="bool">
        <app-eventcard  *ngFor="let item of tab" [tab]="item"></app-eventcard>
    </div>
    <div class="div" *ngIf="!bool">
        <app-eventcard  [tab]="EventItem"></app-eventcard>
    </div> 

<app-footer></app-footer>


