<section>
  <form [formGroup]="loginForm" >
    <h1>Add Event</h1>
    <label>Destination</label>
      <input type="text" formControlName="destination"/>
      <div *ngIf="Destination?.invalid && Destination?.dirty "  class="alert alert-warning">
        The destination invalid (more than 3 characters)
      </div>
      <label>Image url</label>
      <input type="text" formControlName="imgUrl"/>
      <label>Price</label>
      <input type="number" formControlName="price" />
      <label>Event Date</label>
      <input type="date" formControlName="date"/>
      <div class="center">
        <button (click)="loginForm.reset()" color="warn" class="btn"   mat-flat-button> Reset</button>
      <button (click)="ajoutdata()" color="primary" class="btn" [disabled]="!loginForm.valid"   mat-flat-button> <mat-icon>add</mat-icon> Add</button>
    </div>
    </form>
</section>