<footer>
    <div class="footer-container">
      <div class="brand-info">
        <h2>TravelClub</h2>
        <p>Your Passport to Adventure</p>
      </div>
<div class="media">
      <div class="contact-info">
        <div class="icon">
          <mat-icon>mail</mat-icon>
        </div>
        <p>bejaouiam25@gmail.com</p>
      </div>

      <div class="contact-info">
        <div class="icon">
          <mat-icon>phone</mat-icon>
        </div>
        <p>+21690640476</p>
      </div>

      <div class="contact-info">
        <div class="icon">
          <mat-icon>location_on</mat-icon>
        </div>
        <p>Iset Charguia</p>
      </div>
    </div>
    </div>

    <div style="margin-top: 10px;">
      <span>&copy; 2023 TravelClub. All Rights Reserved.</span>
    </div>
  </footer>
