<div class="div">
    <form [formGroup]="contactForm" (ngSubmit)="addContact()">
        <h1>Contact Us</h1>
        <p>Feel free to contact us any time, we will get back to you as soon as we can !</p>
        <label>Full Name :</label>
        <input type="text" formControlName="fullName"/>
        <div *ngIf="FullName?.invalid &&  FullName?.touched" class="alert alert-info">
            Your full name must be more than 5 characters
        </div>
        <label>e-mail :</label>
        <input type="mail" formControlName="email"/>
        <div *ngIf="Email?.invalid &&  Email?.touched" class="alert alert-info">
            Your email must have the @ symbol (example: example@gmail.com)
        </div>
        <label>message :</label>
        <input type="text" formControlName="message"/>
        <div *ngIf="Message?.invalid &&  Message?.touched" class="alert alert-info">
            Your message must be more than 5 characters
        </div>
        <div class="center">
        </div>
        <div class="center">
            <button (click)="contactForm.reset()" color="warn" class="btn"   mat-flat-button> Reset</button>
            <button color="primary" class="btn" [disabled]="contactForm.invalid" mat-flat-button type="submit">submit</button>
        </div>
    </form>
</div>
