.input{
    display: flex;
    align-items: center;
    width: 500px;
    height: fit-content;
    padding: 5px 10px;
    background-color: #E7FEFF;
    border-radius: 18px;
    margin: 10px auto;
}
.inputField{
    width: 70%;
    background-color: transparent;
    border: none;
    outline: none;
    
}
i{
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
.container{
    width: 700px;
    margin: 20px auto;
}
.inputChange{
    width: 80%;
    border-radius: 8px;
    padding: 10px;
    margin: 5px 20px;
    border:1px solid #d1d1d1;

}
.center{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
input.ng-valid{
    border-right: 6px  solid green;
}
input.ng-invalid{
    border-right: 6px  solid red;
}
h4{
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
}
h1{
    font-size: 25px;
    margin:20px;
    text-transform: capitalize;
    color: rgb(151, 150, 150)
}
img{
    width: 45%;
    object-fit: cover;
}
.searchEvent{
    width: 90%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}