<div class="main-container">
  <div>
    <h1 class="display-3" style="color: #007AFF;">Discover TravelClub</h1>
    <p class="lead">Embark on a Journey of Discovery and Adventure with TravelClub</p>
  </div>

  <img src="../../../assets/AhmedBejaoui.png" alt="Cool Image" class="club-image">
  <div class="club-info">
    <div class="card">
      <div>
        <h2 class="card-title" style="color: #007AFF; font-size: 1.5rem;">Meet the Visionary - Ahmed Bejaoui</h2>
        <p class="medium-font" >Welcome to TravelClub, where exploration knows no bounds! Founded with a passion for adventure, TravelClub opens doors for students to experience the wonders of the world, both near and far.</p>

        <p class="medium-font" >Ahmed Bejaoui, the brilliant mind behind TravelClub, is not just a developer; he's a fellow explorer. With a keen sense of adventure and a love for technology, Ahmed envisioned a platform that seamlessly connects students with thrilling travel opportunities.</p>

        <p class="medium-font" >His dedication to excellence is reflected in every aspect of TravelClub. The intuitive design and user-friendly interface make it effortless for you to discover and join our upcoming adventures.</p>
      </div>
    </div>
  </div>

  <div class="club-info">
    <div class="card">
      <div>
        <h2 class="card-title" style="color: #007AFF; font-size: 2rem;">Discover the World with TravelClub</h2>
        <p class="medium-font" >At TravelClub, we believe in the transformative power of travel. Our club is a vibrant community where students come together to explore new horizons, forge global friendships, and create memories that last a lifetime.</p>

        <p class="medium-font" >From hidden gems within our country to international escapades, TravelClub is your passport to a world of possibilities. Our trips cater to various interests and preferences, ensuring there's something for everyone – whether you're a history buff, a nature enthusiast, or seeking cultural immersion.</p>

        <p class="medium-font" >Join us on the journey of a lifetime. Explore the world, make lasting memories, and be part of a community that shares your passion for adventure. Ready to start your next chapter with TravelClub?</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>